body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
main {
    padding: 2rem;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#menu, #tables {
    margin-bottom: 20px;
}
.food-item {
    cursor: pointer;
}
.table {
    cursor: pointer;
}
